/* Container for the widget */
.zithara-widget-container {
  position: fixed;
  background: transparent;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
}

.zithara-widget-container-open {
  background-color: rgba(2, 2, 2, 0.41);
  opacity: 1;
  visibility: visible;
}

/* Button to toggle the widget */
.zithara-widget-toggle-button {
  border-radius: 50%;
  color: white;
  font-size: 1.5rem;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  background-color: #014ea0;
  position: fixed;
  z-index: 101;
  overflow: hidden;
}

.zithara-widget-toggle-button-tootlip {
  font-size: 12px;
  display: flex;
  gap: 5px;
  align-items: center;
  border: 1px solid white;
  -webkit-box-shadow: -1px 9px 30px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 9px 30px -5px rgba(0,0,0,0.75);
  box-shadow: -1px 9px 30px -5px rgba(0,0,0,0.75);
  width: fit-content;
  padding: 0 7px;
  border-radius: 44px;
  color: #252525;
  background: white;
  position: fixed;
  bottom: 70px;
  right: 20px;
}

.zithara-widget-toggle-button-tootlip p {
  margin: 0;
}

.zithara-widget-toggle-button-open {
  opacity: 0.8;
}

.zithara-widget-toggle-button-closed {
  opacity: 1;
}

/* Icon styles */
.zithara-widget-icon {
  height: 103%;
  color: white;
}

/* Widget buttons container */
.zithara-widget-buttons-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  transition: all 0.3s ease-in-out;
  transform: translateY(150px);
  z-index: 101;
}

.zithara-widget-buttons-container-open {
  opacity: 1;
  pointer-events: auto;
  scale: 1;
  transform: translateY(0);
}

.zithara-widget-buttons-container-closed {
  opacity: 0;
  pointer-events: none;
  scale: 0;
}

/* Individual button style */
.zithara-widget-button {
  padding: 0.5rem 1rem;
  color: white;
  font-size: 1rem;
  border-radius: 0.375rem;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s ease-in-out;
  background-color: #014ea0;
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: start;
}

.zithara-widget-call-modal-content {
  font-size: 1.2rem;
  text-align: center;
  font-weight: bold;
}
